<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet/less" type="text/css" href="../static/styles.less" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/less@4"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>

<body>
    <header class="header">
        <nav class="nav">
            <div class="input-search">
                <input class="search" type="text" name="search" placeholder="Search">
                <button class="btn-search">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
            <span>
                Your account is
                {% if session['user_id'] %}
                <div>
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <a href="">{{ session['user_username'] }}</a>
                </div>
                {% endif %}
            </span>
        </nav>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert" role="alert">
        {{ message }}
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="side-bar">
        <a class="side-nav-btn" href="/">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        <a class="side-nav-btn" href="/settings">
            <i class="fa fa-cog" aria-hidden="true"></i>
        </a>
        <a class="side-nav-btn" href="">
            <i class="fa fa-user" aria-hidden="true"></i>
        </a>
        <a class="side-nav-btn" href="/notifications">
            <i class="fa fa-bell" aria-hidden="true"></i>
        </a>
        <a href="/logout" class="btn-write-post">
            <i class="fa fa-sign-out" aria-hidden="true"></i>
        </a>
    </div>

    {% block main %}

    {% endblock %}
    <footer class="mobile-bottom-nav">
        <a href="/">
            <i class="fa fa-home" aria-hidden="true"></i>
        </a>
        <a href="/search">
            <i class="fa fa-search" aria-hidden="true"></i>
        </a>
        <a href="">
            <i class="fa fa-user" aria-hidden="true"></i>
        </a>
        <a href="/notifications">
            <i class="fa fa-bell" aria-hidden="true"></i>
        </a>
    </footer>
</body>

</html>