<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet/less" type="text/css" href="../static/styles.less" />
    <script src="https://cdn.jsdelivr.net/npm/less@4"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Questioned</title>
</head>

<body>
    <header>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
        messages %} {% for category, message in messages %} {% if category ==
        'error' %}
        <div class="alert" role="alert">
            {{ message }}
        </div>
        {% else %}
        <div class="alert" role="alert">
            {{ message }}
        </div>
        {% endif %} {% endfor %} {% endif %} {% endwith %}
    </header>
    <form class="signup-form" action="/login" method="post">
        <h1>Welcome back!</h1>
        <p>Email Address</p>
        <input type="email" id="email" name="email" required>
        <p>Password</p>
        <input type="password" id="password" name="password" required>
        <p>I don't have an account <a href="/sign-up">Sign Up</a></p>
        <button class="btn-sign-up">
            Login
        </button>
    </form>
</body>

</html>